body
{
    background-image: url("/img/woodpaper.jpg");
    background-size: contain;
}
*
{
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

.title
{
    text-align: center;
    color: white;
}

.modal
{
    top: 68%;
    height: 30vh;
    position: fixed;
    z-index: 3; /* Sit on top */
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    padding: auto;
    text-align: center;
    max-width: 660px;
    font-family: 'indie flower';
    font-size: 1.5em;
    color: #e3e3e3;  
    background: #3c5d4b;
    border: 5px solid #0c331e;
}

.textTitle
{
    width: 80%;
}

.textBody
{
    width: 80%;
    height: 10vh;
}

#corkboard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1%;
    width: 95%;
    min-width: 600px;
    height: 80vh;
    min-height: 900px;
    background-image: url("/img/chalkboard.jpg");
    background-size: contain;
}

.menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 10%;
}


#menuItem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
 /*   color: brown; */
    width: 40%;
    height: 80%;
 /*   background-color: lightgreen; */
    font-weight: bold;
    font-size: 2em;
}

#todo
{
}

#log
{
}

.sticky
{
    overflow: scroll;
    overflow-x: hidden;
    border-collapse: separate;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 85%;
    margin: 1vw;
}

.stickyItem
{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 2px;
    background-color: #ffff80;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

.stickyTitle
{
    width: 100%;
    height: 10%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.stickyBody
{
    width: 100%;
    height: 60%;
    text-align: left;
    padding-top: 0.5em;
    padding-left: 1em;
    font-size: 1.2em;
    overflow: auto;
}

.stickyModal {
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border: 5px solid orange;
    border-radius: 12px;
}

.stickyTitle {
	text-align: center;
}

.stickyDeets {
	width: 47%;
	display: inline-block;
	float: left;
	text-align: left;
}

.stickyChat {
    height: 100%;
	width: 47%;
	display: inline-block;
	float: right;
	border: 2px solid orange;
	border-radius: 12px;
}

.open_ticket{
    float: right;
}

.box
{
    width: 100%;
    height: 10%;
    visibility: visible;
}

#newStickyBtn {
    position: absolute;
    z-index: 3;
}