body
{
/*    background-image: url("/img/woodpaper.jpg"); */ 
    background-size: contain;
}
h1 {
    height: 10vh;
}
.header {
 /*   background-color: black; */
    color: white;
    border-bottom: 2px solid;
    border-bottom-color: grey
}
*
{
    box-sizing: border-box;
    font-family: monospace, lucida;
}

#newStickyBtn {
    position: absolute;
    z-index: 3;
}

.Title
{
    text-align: center;
    font-weight: bold;
    background-color: black;
}

.modal
{
    top: 68%;
    height: 30vh;
    position: fixed;
    z-index: 3; /* Sit on top */
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    padding: auto;
    text-align: center;
    max-width: 660px;
    font-family: 'indie flower';
    font-size: 1.5em;
    color: #e3e3e3;  
    background: #3c5d4b;
    border: 5px solid #0c331e;
}

.textTitle
{
    width: 80%;
}

.textBody
{
    width: 80%;
    height: 10vh;
}

#corkboard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1%;
    width: 95%;
    min-width: 600px;
    height: 80vh;
    min-height: 900px;
 /*   background-image: url("/img/chalkboard.jpg"); */
    background-size: contain;
}

.menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 10%;
}


#menuItem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 40%;
    height: 80%;
    font-weight: bold;
    font-size: 2em;
}

#todo
{
}

#log
{
}

.sticky
{
    overflow: scroll;
    overflow-x: hidden;
    border-collapse: separate;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 85%;
    margin: 1vw;
}

.stickyItem
{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 2px;
    background-color: #FFFF80;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

.stickyTitle
{
    width: 100%;
    height: 10%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

.stickyBody
{
    width: 100%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 0.5em;
    font-size: 1em;
    overflow: auto;
}

.stickyModal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    width: 90vw;
    min-width: 600px;
    height: 75vh;
    min-height: 300px;
    position: fixed;
    z-index: 3;
    background-image: url("../img/cork.jpg");
    background-size: contain;
    border: 3px solid orange;
    border-radius: 12px;
}

.stickyDeetsTitle {
    margin: auto;
    width: 90%;
    height: 10%;
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
	text-align: center;
	padding-top: 13px;
	border-radius: 12px;
	color: brown;
	text-shadow: 2px 2px 2px black;
}

.stickyDeetsBody {
	width: 45%;
	height: 70%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block;
	border: 2px solid orange;
	border-radius: 12px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.stickyChat {
    height: 70%;
	width: 45%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border: 2px solid orange;
	border-radius: 12px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: auto;
}

.open_ticket{
    float: right;
}

.doneBox
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    width: 45%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
	border: 2px solid orange;
	border-radius: 12px;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

#input
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 10%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
	border: 2px solid orange;
	border-radius: 12px;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}


#stickyExit {
    display: inline-block;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    z-index: 6;
    background-image: url("../img/X_mark.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    height: 5%;
    width: 2%;
}

.expandBtn {
    z-index: 5;
}